.Footer {
    width: 1920px;
height: 912px;
top: 8307px;
gap: 80px;
opacity: 0px;
background: rgba(8, 17, 48, 1);

}

.Num {
    width: 1180px;
height: 394px;
top: 300px;
left: 370px;
padding: 70px 99px 70px 99px;
gap: 36px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;
margin: 0px auto;
margin-top: -60px;
background: rgba(255, 255, 255, 1);

}

.Text-TXT {
    width: 880px;
height: 91px;
gap: 12px;
opacity: 0px;
margin: 0px auto;
}

h1 {
    width: 880px;
height: 48px;
gap: 0px;
opacity: 0px;
font-size: 36px;
font-weight: 700;
line-height: 47.88px;
text-align: center;
color: rgba(46, 54, 62, 1);

}

p {
    width: 880px;
height: 31px;
gap: 0px;
opacity: 0px;
font-size: 21px;
font-weight: 400;
line-height: 30.03px;
letter-spacing: -0.20000000298023224px;
text-align: center;
color: rgb(150, 151, 152);

}